{% extends 'base.html' %}
{% block title %}
<!--
    {{ title }}
{% endblock %}
{% block sidebar %}
{% include "inc/_sidebar.html" %}
{% endblock %}
{% block content %}
<!-- love GIT -->

            {% for item in news %}
                {% if item.is_published  %}
            <div class="card mb-3">
                <h5 class="card-header">

                    Категорія: <a href="{{ item.category.get_absolute_url }}"> {{ item.category }}</a> </h5>
                    <div class="card-body">
                        <div class="media">
                            {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="400" class="mr-3">
                                {% else %}
                                <img src="https://amaltasindia.in/UploadPhoto/no_img.jpg" alt = ''
                                     width="400" class="mr-3">
                            {% endif %}
                            <div class=" media-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.content|safe|linebreaks}}</p>
                                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>


                            </div>

                        </div>

                    </div>
            {% endif %}
                {% if item.is_published %}
            <div class="card-footer text-muted">
        <div>
                        <div style="width: 300px;  float:left;">{{ item.created_at |timesince }} назад</div>
                        <div style="width: 300px;  float:right;">{{ item.created_at |date:"Y-m-d H:i" }}</div>
                        </div>
                    </div>
                    </div>
                {% endif %}
            {% empty %}
                <li>Вибачте,але дана сторінка ще не заповнена </li>


            {% endfor %}

{% endblock %}

-->



